.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  color: #fff;
}

p {
  color: #fff;
}

.backspace-button {
  color: white;
  background-color: #ff9800;
  position: absolute;
  top: 10px;
  left: 200px;
}

.calculator .clear-button {
  width: 50px;
  height: 50px;
  margin: 5px;
  font-size: 20px;
  cursor: pointer;
  background-color: #ff9800;
}

.calculator {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
  position: relative;
  background-color: black;
}

.calculator h1 {
  margin-bottom: 10px;
}

.calculator input {
  width: 65%;
  margin-bottom: 10px;
  margin-left: 5px;
  padding: 5px;
  font-weight: bold;
  font-size: 25px;
  background-color:#fff;
  color: #000;
}

.calculator button {
  width: 50px;
  height: 50px;
  margin: 5px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 50%;
  border: none;

}

.operator-button {
  background-color: #ff9800;
}

.calculator button:hover {
  background-color: #ccc;
}